@import './config.scss';

//混合 mixin .el-row BEM->b (block)  
/*BEM*/
@mixin b($block){//块
    $B:$namespace + '-' + $block;
   @at-root{
      .#{$B}{
        @content;
      }
    }
  };
@mixin m($modifier) {//修饰符 scss Lists @each遍历
    $selector:&;
    $currentSelector:"";
    @each $unit in $modifier{
      $currentSelector:$currentSelector + $selector + $modifier--separator + $unit + ',';
    }
    @at-root{
      #{$currentSelector}{
        @content;
      }
    }
  };
@mixin when($state){//关于状态
    // $selector:&;
    // $currentState:$selector + '.'+ $state-prefix + $state;
  
    @at-root{
      // #{$currentState}{
      //   @content;
      // }
      &.#{$state-prefix + $state}{
        @content;
      }
    }
  };